<!--The content below is only a placeholder and can be replaced.-->

<md-toolbar color="primary">
    <img src="../assets/logo.png" style="margin-top: 20px;" height="80" width="80" />
  
    <md-toolbar-row>
      <span>MEANKube</span>
      <span class="example-spacer"></span>
      <md-icon>home</md-icon>
      <md-icon>sep</md-icon>
      <md-icon>shopping-report</md-icon>
      <md-icon>sep</md-icon>
      <button md-raised-button class="app-menu">My Orders</button>
      <button md-raised-button class="app-menu">My Account</button>
      <button md-raised-button class="app-menu">Admin</button>
    </md-toolbar-row>
  
  </md-toolbar>

  <app-menu-list></app-menu-list>



