
  <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>{{product.subTitle}}</mat-card-subtitle>
      </mat-card-header>
      <img height="150" width="200" src={{product.imageUrl}}>
      <mat-card-content>
        <p>
          {{product.desc}}
        </p>
      </mat-card-content>
      <mat-card-actions>
          <mat-slide-toggle>To Go</mat-slide-toggle>

          <mat-input-container class="menu-qty-width">
              <input matInput maxlength="2" placeholder="Quantity" value="1">
          </mat-input-container>
        <button mat-button>ORDER</button>
      </mat-card-actions>
    </mat-card>
